img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 0.75rem;
}

// Don't fill container when sizes are set
img[width],
img[height] {
  width: initial;
}
