table {
  width: 100%;
  border: {
    width: 1px;
    style: solid;
    color: lightgrey;
    collapse: collapse
  }
  margin-bottom: $base-spacing;
}

thead, tr:nth-child(even) {
    background-color: #ededed;
}

th, td {
  border: 1px solid #666666;
  padding: 8px;
}