/* All blocks */
.block {
  // margin-bottom: $base-spacing;
}

/* Recent content block */
.block-node {

  table {
    width: 100%;
  }

  td {
    padding: 0.3em;

    &.edit,
    &.delete {
      text-align: center;

      a {
        color: inherit;
      }
    }
  }

  .node-author {
    font-size: 0.75em;
    margin-left: $base-spacing / 3;
    white-space: nowrap;

    a {
      color: inherit;
    }
  }
}

/* Who's online, who's new,
* Recent comments, Shortcuts*/
.block {
  ul {
    list-style: none;
    padding-left: 0;
  }
}

.block-comment {
  .item-list span {
    font-size: 0.75em;
    display: inline-block;
    margin-left: $base-spacing / 3;
  }
}

/* Powered by Drupal */
#block-system-powered-by span {
  display: block;
  margin: 1em 0;
}

/* User menu block */

#block-system-user-menu {
  display: flex;
  justify-content: flex-end;
  background: #333;

  .menu {
    margin: 0;
    display: inline-flex;
  }

  li {
    margin-left: $base-spacing;
  }

  a {
    color: #fff;
  }
}
.highlighted {
  max-width: 1200px;
  margin: 1.5rem auto;
  background-color: #ffffc9;
  padding: 3rem 3rem 1.5rem;
}