.node-article {
  @include clearfix;
  @include spacing;
  padding-bottom: $base-spacing;
  border-bottom: 4px solid $primary-colour;

  .field-type-image {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
  }
}

.article__metadata {
  @include clearfix;
  margin-bottom: $base-spacing/2;
  color: #000;
}

.article__author-image {
  float: left;
  margin-right: 0.25em;
  width: 32px;
  height: 48px;
}

[class^="submitted__"] {
  display: inline-block;
  font-weight: 700;
}

.feed-icon,
.file-icon {
  display: inline-block;
  height: 16px;
  width: 16px;

  img {
    vertical-align: top;
  }
}

.field-name-field-download {
  clear: left;
}
