.navbar {

  ul {
    list-style: none;
    padding: 0;
    display: flex;

    // Hide submenus
    ul {
      display: none;
    }
  }

  li {
    list-style: none;
  }

  a {
    display: block;
    padding: 0.75em 1em;
    color: inherit;

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}

