.team {
  @include clearfix;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &-member {
    float: left;
    width: 240px;
    text-align: center;
    margin: 0 1% $base-spacing;
    padding: $base-spacing;
    box-shadow: 0 0 4px rgba(0,0,0,0.3);

    &__image {
      margin: auto;
      width: 150px;
    }
  }
}
