[id="search-block-form"] {
  max-width: 32rem;
  margin-left: auto;
}

.search-form,
[id="search-block-form"] {

  .container-inline {
    display: flex;
    align-items: flex-end;
    margin-left: auto;
  }

  // text box
  .form-item {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0.25em;
    flex: 1;
  }
}
