.region-footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  column-gap: 2rem;

  .block:nth-child(4) {
    grid-column: 1 / -1;
  }
}

.day {
  text-align: left;
}

.time {
  text-align: center;
}
