.region-footer {
  display: grid;
  gap: 2rem;

  @media (min-width: 44rem) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 55em) {
    grid-template-columns: auto auto 320px 1fr;
  }
}

.day {
  text-align: left;
}

.time {
  text-align: center;
}