$pager-padding: 1em 0.75em;

.pager {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;

	a {
		display: block;
		padding: $pager-padding;
	}
}

[class^="pager-"]	{
		display: inline-block;
		// border: 1px solid #ccc;
		// width: 3em;
		&:not(:first-child) {
			margin-left: 0.25em;
		}
}

.pager-current {
	font-weight: 700;
	padding: $pager-padding;
}
