.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    & > * {
        padding: 1.5rem 0.5rem;
    }
}

.content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}

.primary-content,
.sidebar {
    margin: 1.5rem 0;
    flex-basis: 100%;
}

@media (min-width: 500px) {
    .two-sidebars .sidebar {
        flex-basis: 48%;
    }
}

@media (min-width: 920px) {
    .primary-content {
        flex-grow: 1;
        flex-basis: 48%;
    }
    .sidebar {
        flex-basis: 22%;
    }
    .sidebar-left {
        order: -1;
        margin-right: 3%;
    }
    .sidebar-right {
        margin-left: 3%;
    }
}
