.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    & > * {
        padding: $base-spacing 0.5rem;
    }
}

.content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}

.primary-content,
.sidebar {
    /* At small screen sizes, all sections are full-width */
    margin: $base-spacing 0;
    flex-basis: 100%;
}

@media (min-width: 500px) {
    // let sidebars share a row
    // but if only one exists, it can stretch across
    .sidebar {
        flex: 1 49%;

        // enforce a margin when both exist
        & + & {
            margin-left: 2%;
        }
    }
}

@media (min-width: 920px) {
    .primary-content {
        flex: 1 50%;
    }
    .sidebar {
        flex: 0 25%;

        // clear the margin between the sidebars
        & + & {
            margin-left: 0;
        }
    }

    .sidebar-left {
        order: -1;
        padding-right: $base-spacing;
    }

    .sidebar-right {
        padding-left: $base-spacing;
    }
}
