body {
  font-size: 90%;
}
.container {
  overflow: hidden;
}
.user,
#site-slogan {
  display: none;
}

#logo {
  position: relative;
  left: 3em;
  img {
    max-width: 75%;
  }
}

.nav {
  position: absolute;
  top: 0;
  left: -75%;
  width: 75%;
  height: 100%;
  background-color: transparent;
  -webkit-box-shadow: -1em 0px 10px rgba(0,0,0,0.25) inset;
  -moz-box-shadow: -1em 0px 10px rgba(0,0,0,0.25) inset;
  box-shadow: -1em 0px 10px rgba(0,0,0,0.25) inset;
  ul.menu {
    li.expanded,
    li.leaf {
      list-style: none;
      margin: 0;
      padding: 0;
      display: block;
      a {
        padding-left: 1em;
        display: block;
        color: #909090;
      }
      &:after {
        content: '';
      }
      & > ul {
        display: none;
      }
    }
  }
  #search-block-form {
    width: 66%;
    margin: 0 auto;
    position: relative;
    .form-type-textfield input[type='text'] {
      width: 100%;
      max-width: none;
    }
    input#edit-submit {
      top: 4px;
    }
  }
}
//animations for navigation
label[for="menu"]:after {
  content: "\2261";
  font-size: 3em;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: pem(4);
}
#page {
  position: relative;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -webkit-transition: transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out;
  -ms-transition: transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}
input#menu:checked ~ #page {
  -webkit-transform: translate3d(75%,0,0);
  -moz-transform: translate3d(75%,0,0);
  -ms-transform: translate3d(75%,0,0);
  -o-transform: translate3d(75%,0,0);
  transform: translate3d(75%,0,0);
  -webkit-transition: transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out;
  -ms-transition: transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}
//end of animations  
ul.tabs.primary {
  margin: 0;
  padding: 0;
  li {
    display: block;
  }
  a {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
    text-indent: 2em;
    position: relative;
    &.active:before {
      content: '\25ba';
      position: absolute;
      left: -20px;
      font-size: 80%;
      top: 2px;
    }
  }
}
.breadcrumb {
  clear: both;
}
