// Typography
$inuit-font-family: 'Lato', verdana, arial, sans-serif;
$inuit-font-size: 16px;
$inuit-line-height: 1.5;
$base-spacing: $inuit-line-height * 1rem;

// Headings
$inuit-heading-size-1:  46px;
$inuit-heading-size-2:  32px;
$inuit-heading-size-3:  23px;
$inuit-heading-size-4:  16px;
$inuit-heading-size-5:  11px;
$inuit-heading-size-6:  8px;

// Colours
$primary-colour: lightseagreen;
$accent-colour: orangered;
$link-colour: $accent-colour;
