// Typography
$primary-font-family: 'Lato', verdana, arial, sans-serif;
$base-font-size: 16;
$base-line-height: 1.5;
$base-spacing: $base-line-height * 1rem;

// Colours
$primary-colour: lightseagreen;
$accent-colour: orangered;

