/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */

img {
  width: 100%;
  height: auto;
}

#logo {
  width: 35%;
  float: left;
}

#site-slogan {
  float: left;
  width: 65%;
  text-align: right;
}

.nav {
  clear: both;
  position: relative;
  ul.menu {
    font-size: 0;
    li.leaf,
    li.expanded {
      font-size: 16px;
      margin-right: -4px;
      padding: 0;
      display: inline-block;
      a {
        padding: 1em 0;
        width: 7em;
        text-align: center;
        background: url("http://www.cornerhouse-dental.co.uk/sites/all/themes/dentist/images/button.png") center no-repeat;
        color: #000;
      }
    }
    li.expanded > ul.menu{
      display: none;
    }
  }
  #search-block-form {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
  }  
}
.submitted img {
  float: left;
  height: 1em;
  width: auto;
}

#site-slogan {
    top: 1em;
}
#main-content {
  position: relative;
  overflow: hidden;
}
#content{
  float: left;
  position: relative;
  &.right-sidebar {
    width: 75%;
    padding-right: 1%;
  }
  &.left-sidebar {
    width: 75%;
    left: 25%;
    padding-left: 1%;
  }
  &.two-sidebar {
    width: 50%;
    left: 25%;
    padding: 0 1%;
  }
}
#sidebar_left {
  float: left;
  padding-right: 1%;
  position: relative;
  width: 25%;
  &.left-sidebar {
    left: -75%;
  }
  &.two-sidebar {
    left: -50%;
  }
}
#sidebar_right {
  float: left;
  padding-left: 1%;
  position: relative;
  width: 25%;
}
.copyright {
  float: left;
  width: 66.67%;
}
#footer-links {
  float: left;
  width: 33.33%;
}
.feed-icon img {
  width: 2%;
  height: auto;
}
li.staffpage img {
  width: 9em;
}
.node-staff-member,
.node-treatment-type {
  img {
    max-width: auto;
    width: 9em;
  }
}
