/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
$headers: "PT Serif", Georgia, Times, serif;
$hcolor: #FFCF33;
$body: "PT Sans", Verdana, Arial, san-serif;
$textColor: #666666;
$crumbs: #5090f0; //base color of breadcrumb arrows
$sidebar: #f3f3f3;
//mixins

@mixin breadcrumbs{
  content: ' ';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border-top: 3em solid transparent;
  border-bottom: 3em solid transparent;
  left: 100%;
  top: 50%;
  margin-top: -3em;
}


@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/general";
//universal rules
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body { 
  -webkit-animation: bugfix infinite 1s;
  *zoom: 1; 
  background: #555555;
  font-family: $body;
  font-weight: 300;
  font-size: 100%;
  line-height: 1.25em;
  color: $textColor;
  }
@-webkit-keyframes bugfix { 
  from { padding: 0; } 
  to { padding: 0; } 
}
p {
  margin: 0.5em 0;
  text-align: justify;
}
#{headers(all)} {
  font-family: $headers;
  color: $hcolor;
  padding-bottom: 0.5em;
  line-height: 1.5em;
}
h1 {font-size: 2em;}
h2 {font-size: 1.5em;}
h3 {font-size: 1.25em;}
h4 {font-size: 1em;}
strong {font-weight: bold;}
em {font-style: italic;}

//generalised menu styles
ul.menu {
  margin: 0;
  padding: 0;
  li.leaf,
  li.expanded {
    list-style: none;
    display: inline;
    a {
      display: inline-block;
      padding: 1em;
      &.active-trail {
        color: #000;
      }
    }
  }
}


 
a {
  color: $crumbs;
  text-decoration: none;
  &:hover, &:focus {
    color: lighten($crumbs,20%);
    outline: thin dotted;
  }
}
.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}
#page {
  background: white;
  padding: 0.5em;
  -webkit-box-shadow: 0 0 10px #000000;
  -moz-box-shadow:  0 0 10px #000000;
  box-shadow: 0 0 10px #000000;
}

header {
  display: inline-block;
  width: 100%;
  &:after {
    display: block;
    clear: both;
    content: ' ';
    visibility: hidden; 
    height: 0;
    }
}
#main-content,
footer {
  width: 100%;
  overflow: hidden;
  }
.user,
footer {
    p,a {
    color: darken($textColor, 20%);}
    a:hover,
    a:focus {
      color: lighten($textColor,20%);
    }
}
#logo {
  float: left;
  max-width: 80%;
}
#site-slogan {
  float: right;
  text-align: right;
  position: relative;
}
.breadcrumb {
  overflow: hidden;
  padding: 0;
  a {
    font-size: 80%;
    outline: none;
    text-decoration: none;
    display: inline-block;
    position: relative;
    color: #000;
    padding: 0.5em 0 0.5em 3em;
    &:before {
        @include breadcrumbs;
        border-left: 3em solid white;
        z-index: 1;
        margin-left: 2px;
      }    
    @for $i from 1 through 4 {
      &:nth-of-type(#{$i}){
        background: lighten($crumbs,$i*7%);
        &:hover {
        background: $crumbs;}}
      &:nth-of-type(#{$i}):after {
        @include breadcrumbs; 
        border-left: 3em solid lighten($crumbs,$i*7%);
        z-index: 2;}
      &:nth-of-type(#{$i}):hover:after {
        @include breadcrumbs; 
        border-left: 3em solid $crumbs;
        z-index: 2;}
      }
      &:first-child {
        padding-left: 1em;
      }
  }
}
img {
  max-width: 100%;
  height: auto;
  }
div.messages {
  margin: 0;
  clear: both;
}
.submitted {
  overflow: hidden;  
  .user-picture img {
    float: left;
    height: 2em;
    margin-right: 0.25em 0.5em 0 0;
}
}
//stuff to display the staff profiles nicely…
.field-name-field-staff-image {
  float: left;
  height: auto;
  margin: 0 0.5em 0.5em 0;
  max-width: 35%;
}
.field-name-field-gdc-reg-no .field-item:before {
  content: "GDC Registration No:";
  display: inline-block;
  font-weight: bold;
  width: 11em;
}
.field-name-field-qualifications .field-item:before {
  display: inline-block;
  font-weight: bold;
  width: 11em;
  content: "Qualification:"
}
.field-name-field-role .field-item {
  display: inline-block;
  &:first-of-type:before {
  display: inline-block;
  font-weight: bold;
  width: 11em;
  content: "Practice Role(s):"
  }
  &:after {
    content: "|";
    display: inline-block;
    padding: 0 0.5em;
  }
  &:last-of-type:after {
    content: "";
  }
}
.node-teaser {
  overflow: hidden;
}
//end of staff page stuff
.field-name-field-image,
.views-field-field-image {
  max-width: 30%;
  height: auto;
  float: left;
  padding: 0 0.5em 0.5em 0;
}
span.author img {
  float: left;
  height: 1em;
}
.views-row {
  clear: both;
  overflow: hidden;
}
ul.team-member {
  text-align: center;
  li.staffpage {
    display: inline-block;
    width: 18em;
    p {
      text-align: center;
    }
  }
}
input#menu {
  visibility: hidden;
  position: absolute;
}
//Google map responsiveness
.gmap {
  width: 100%;
  height: 0;
  padding-top: 30px;
  padding-bottom: 56.25%;
  position: relative;
  overflow: hidden;
  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    }
}
//small screens
@media only screen {
  #container,
  #content,
  #sidebar_left,
  #sidebar_right,
  .copyright,
  #footer-links {
    width: 100%;
  }
  #site-slogan,
  .user {
    display: none;
  }
  label[for="menu"]:after {
    content: "\2261";
    font-size: 48px;
    font-weight: bold;
    position: absolute;
    top: 30px;
    right: 10px;
  }
input#menu:checked ~ nav {
  height: auto;
  -webkit-transition: height 0.5s ease 0;
  -moz-transition: height 0.5s ease 0;
  -ms-transition: height 0.5s ease 0;
  -o-transition: height 0.5s ease 0;
  transition: height 0.5s ease 0;
}
nav {
  height: 0;
  overflow: hidden;
  background: #333;
  clear: both;
  -webkit-transition: height 0.5s ease 0;
  -moz-transition: height 0.5s ease 0;
  -ms-transition: height 0.5s ease 0;
  -o-transition: height 0.5s ease 0;
  transition: height 0.5s ease 0;
  ul.menu {
    width: 100%;
    text-align: center;
    li.leaf,
    li.expanded {
      display: inline-block;
      padding: 0;
      margin: 0;
      width: 9em;
      a {
        width: 100%;
        color: #ccc;
        &:hover,
        &:focus {
          background: #555;
          outline: none;
        }
      }
    }
    li.expanded > ul {
        display: none;
      }
    
  }
  #block-search-form {
    clear: both;
    text-align: center;
    padding: 0.5em;
  }
}
}
//@media only screen and (min-width: 480px) {}
//medium screens
@media only screen and (min-width: 720px) {
  #site-slogan,
  #user {
    display: block;
  }
  #content {
    width: 100%;
    clear: both;
    }
  ul.menu {
      li.leaf,
      li.expanded {
        padding: 0;
        margin: 0;
        a {
        padding: 1em;
        }
        & > ul {
          position: absolute; //so not to disturb surroundings
          opacity: 0; // for animation
        }
      }
    }
  label[for="menu"]:after {
    content: "";
  }
nav {
  height: 4em;
  background: #fff;
  overflow: visible;
  #block-search-form {
    clear: none;
    float: right;
  }
    ul.menu {
      line-height: 1;
      text-align: left;
      li.leaf,
      li.expanded {
      width: auto;
      position: relative;
      margin-right: 2px;
      a {
        padding: 1em;
        font-weight: bold;
        float: left;
        border: 2px solid $hcolor;
        border-radius: 5px;
        background: lighten($hcolor, 20%);
        color: #000;
        &:hover, &:focus {
          outline: none;
          background: $hcolor;
          }
        }
      }
      li.expanded:after {
        content: '\25bc';
        font-size: 0.5em;
        position: absolute;
        top: 70%;
        left: 50%;
        margin-left: -0.5em;
        }      
      li.expanded:hover > ul.menu {
          display: block;
          opacity: 1;
          -webkit-transition: opacity 0.5s 0.8s ease;
          -moz-transition: opacity 0.5s 0.8s ease;
          -ms-transition: opacity 0.5s 0.8s ease;
          -o-transition: opacity 0.5s 0.8s ease;
          transition: opacity 0.5s 0.8s ease;
          top: 3em;
          z-index: 500;
          li.leaf,
          li.expanded {
            padding: 0;
            a {
              width: 8em;
            }
            &:hover > ul {
             left: 8em;
             position: absolute;
             top: 0;
            }
          }
          li.expanded:after {
            content: '\25ba';
            font-size: 0.5em;
            position: absolute;
            top: 70%;
            left: 50%;
            margin-left: -0.5em;
          }        
       }  
  }
}}


// desktop screens
@media only screen and (min-width: 768px) {
  #site-slogan {
      top: 1em;
  }
  #main-content {
    position: relative;
    overflow: hidden;
  }
  #content{
    float: left;
    position: relative;
    &.right-sidebar {
      width: 75%;
      padding-right: 0.5em;
    }
    &.left-sidebar {
      width: 75%;
      left: 25%;
      padding-left: 0.5em;
    }
    &.two-sidebar {
      width: 50%;
      left: 25%;
      padding: 0 0.5em;
    }
  }
  #sidebar_left {
    float: left;
    padding-right: 0.5em;
    position: relative;
    width: 25%;
    &.left-sidebar {
      left: -75%;
    }
    &.two-sidebar {
      left: -50%;
    }
  }
  #sidebar_right {
    float: left;
    padding-left: 0.5em;
    position: relative;
    width: 25%;
  }
  .copyright {
    float: left;
    width: 66.67%;
  }
  #footer-links {
    float: left;
    width: 33.33%;
  }
}