/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
$headers: "PT Serif", Georgia, Times, serif;
$hcolor: #FFCF33;
$body: "PT Sans", Verdana, Arial, san-serif;
$textColor: #666666;
$crumbs: #5090f0; //base color of breadcrumb arrows
$sidebar: #f3f3f3;
//mixins

@mixin breadcrumbs{
  content: ' ';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border-top: 3em solid transparent;
  border-bottom: 3em solid transparent;
  left: 100%;
  top: 50%;
  margin-top: -3em;
}

@import 'compass';
@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/general";
//universal rules
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body { 
  -webkit-animation: bugfix infinite 1s;
  *zoom: 1; 
  background: #555555;
  font-family: $body;
  font-weight: 300;
  font-size: 100%;
  line-height: 1.25em;
  color: $textColor;
  }
@-webkit-keyframes bugfix { 
  from { padding: 0; } 
  to { padding: 0; } 
}
p {
  margin: 0.5em 0;
  text-align: justify;
}
#{headers(all)} {
  font-family: $headers;
  color: $hcolor;
  padding-bottom: 0.5em;
  line-height: 1.5em;
}
h1 {font-size: 2em;}
h2 {font-size: 1.5em;}
h3 {font-size: 1.25em;}
h4 {font-size: 1em;}
strong {font-weight: bold;}
em {font-style: italic;}
small {font-size: 75%;}

//generalised menu styles
ul.menu {
  margin: 0;
  padding: 0;
  li.leaf,
  li.expanded {
    list-style: none;
    display: inline;
    a {
      display: inline-block;
      padding: 1em;
      &.active-trail {
        color: #000;
      }
    }
  }
}


 
a {
  color: $crumbs;
  text-decoration: none;
  &:hover, &:focus {
    color: lighten($crumbs,20%);
    outline: thin dotted;
  }
}
.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}
#page {
  background: white;
  padding: 0.5em;
  -webkit-box-shadow: 0 0 10px #000000;
  -moz-box-shadow:  0 0 10px #000000;
  box-shadow: 0 0 10px #000000;
}

.header {
  display: inline-block;
  width: 100%;
  &:after {
    display: block;
    clear: both;
    content: ' ';
    visibility: hidden; 
    height: 0;
    }
}
#main-content,
.footer {
  width: 100%;
  overflow: hidden;
  }
.user,
.footer {
    p,a {
    color: darken($textColor, 20%);}
    a:hover,
    a:focus {
      color: lighten($textColor,20%);
    }
}
#logo {
  float: left;
  max-width: 80%;
}
#site-slogan {
  float: right;
  text-align: right;
  position: relative;
}
.breadcrumb {
  overflow: hidden;
  padding: 0;
  clear: left;
  a {
    font-size: 80%;
    outline: none;
    text-decoration: none;
    display: inline-block;
    position: relative;
    padding-right: 0.5em;
    color: #000;
    }
}
img {
  max-width: 100%;
  height: auto;
  }
div.messages {
  margin: 0;
  clear: both;
}
.submitted {
  overflow: hidden;
  }  
.user-picture img {
    float: left;
    height: 1em;
    width: auto;
    margin-right: 0.25em 0.25em 0 0;
}
.profile {
  .user-picture {
    float: none;
    margin: 0;
    img {
      width: 150px;
      height: auto;
      padding-right: 1em;
    }
  }
}
iframe#facebook,
iframe#twitter-widget-0 {
  width: 100%;
  height: 700px;
  background: #f9f9f9;
}
p.twitter {
  margin: 0;
}

//stuff to display the staff profiles nicely…
.field-name-field-staff-image {
  float: left;
  height: auto;
  margin: 0 0.5em 0.5em 0;
  max-width: 35%;
}
.field-name-field-gdc-reg-no .field-item:before {
  content: "GDC Registration No:";
  display: inline-block;
  font-weight: bold;
  width: 11em;
}
.field-name-field-qualifications .field-item:before {
  display: inline-block;
  font-weight: bold;
  width: 11em;
  content: "Qualification:"
}
.field-name-field-role {
  .field-items {
  display: inline;
  &:before {
    display: inline-block;
    font-weight: bold;
    width: 11em;
    content: "Practice Role(s):"
    }
  .field-item {
    display: inline;
    &:after {
      content: '|';
      display: inline-block;
      padding: 0 0.5em;}
    &:last-of-type:after {
      content: '';
        }
      }
    }
  }
.node-teaser {
  overflow: hidden;
}
//end of staff page stuff
.field-name-field-image,
.views-field-field-image {
  max-width: 30%;
  height: auto;
  float: left;
  padding: 0 0.5em 0.5em 0;
}
span.author img {
  float: left;
  height: 1em;
}
.views-row {
  clear: both;
  overflow: hidden;
}
ul.team-member {
  text-align: center;
  li.staffpage {
    display: inline-block;
    width: 18em;
    p {
      text-align: center;
    }
  }
}
input#menu {
  visibility: hidden;
  position: absolute;
}
//Google map responsiveness
.gmap {
  width: 100%;
  height: 0;
  padding-top: 30px;
  padding-bottom: 56.25%;
  margin-bottom: 30px;
  position: relative;
  overflow: visible;
  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    }
  & > p {
    position: absolute;
    bottom: -2em;
  }
}
//small screens
@media only screen and (max-width: 391px) {
  ul.tabs.primary {
    margin: 0;
    padding: 0;
    li {
      display: block;
    }
    a {
      display: block;
      margin: 0;
      padding: 0;
      border: none;
      text-indent: 2em;
      position: relative;
      &.active:before {
        content: '\25ba';
        position: absolute;
        left: -20px;
        font-size: 80%;
        top: 2px;
      }
    }
  }
    .breadcrumb a {
    padding: 0;
    @for $i from 1 through 4 {
      &:nth-of-type(#{$i}) {
        color: lighten($crumbs,$i*7%);
      }
      &:hover {
        color: $crumbs;
        background: lighten($crumbs,$i*7%);
      }
    }
  }	
}
@media only screen {
  #container,
  #content,
  #sidebar_left,
  #sidebar_right,
  .copyright,
  #footer-links {
    width: 100%;
  }
  #page {
    right: 0;
  }
  #site-slogan,
  .user {
    display: none;
  }
  label[for="menu"]:after {
    content: "\2261";
    font-size: 48px;
    font-weight: bold;
    position: absolute;
    top: 30px;
    left: 10px;
  }
#logo {
  position: relative;
  left: 4em;
}
#page {
  position: relative;
  right: 0; //start in normal porsition
  -webkit-transition: right 0.8s ease 0s;
  -moz-transition: right 0.8s ease 0s;
  -ms-transition: right 0.8s ease 0s;
  -o-transition: right 0.8s ease 0s;
  transition: right 0.8s ease 0s;
}
input#menu:checked ~ #page {
  right: -220px;
  -webkit-transition: right 0.5s 0 ease; //slide the page to the right to reveal the nav
  -moz-transition: right 0.5s 0 ease;
  -ms-transition: right 0.5s 0 ease;
  -o-transition: right 0.5s 0 ease;
  transition: right 0.5s 0 ease;
}
.nav {
  width: 220px;
  z-index: -1;
  position: absolute;//position the nav to the left side of #page
  left: -220px;
  top: 0;
  overflow: hidden;
  background: #555555;
  ul.menu {
    width: 8em;
    li.leaf,
    li.expanded {
      display: inline-block;
      padding: 0;
      margin: 0;
      width: 8em;
      a {
        width: 100%;
        color: #ccc;
        &:hover,
        &:focus {
          background: #555;
          outline: none;
        }
      }
    }
    li.expanded > ul {
        display: none; //hide 2nd and third level menu items
      }    
  }
  #block-search-form {
    clear: both;
    text-align: center;
    padding: 0.5em;
  }
}
}
@media only screen and (min-width: 392px) {
.breadcrumb a {
  color: #fff;
  padding: 0.5em 0 0.5em 3em;
  &:before {
        @include breadcrumbs;
        border-left: 3em solid white;
        z-index: 1;
        margin-left: 2px;
      }    
    @for $i from 1 through 4 {
      &:nth-of-type(#{$i}){
        background: lighten($crumbs,$i*7%);
        &:hover {
        background: $crumbs;}}
      &:nth-of-type(#{$i}):after {
        @include breadcrumbs; 
        border-left: 3em solid lighten($crumbs,$i*7%);
        z-index: 2;}
      &:nth-of-type(#{$i}):hover:after {
        @include breadcrumbs; 
        border-left: 3em solid $crumbs;
        z-index: 2;}
      }
      &:first-child {
        padding-left: 1em;
      }
    }
}
@media only screen and (min-width:392px) and (max-width:768px) {
  .two-siderbar{
    #sidebar_left,
    #sidebar_right {
      width: 50%;
      float: left;
    }
  }
}
//medium screens
@media only screen and (min-width: 720px) {
  #site-slogan,
  .user {
    display: block;
  }
  #logo {
    left: 0;
  }
  #content {
    width: 100%;
    clear: both;
    }
  ul.menu {
      li.leaf,
      li.expanded {
        padding: 0;
        margin: 0;
        a {
        padding: 1em;
        }
        & > ul {
          position: absolute; //so not to disturb surroundings
          opacity: 0; // for animation
        }
      }
    }
  label[for="menu"]:after {
    content: "";
  }
.nav {
  position: relative; //cancels drawer style mobile menu
  left: 0;
  clear: both;
  width: auto;
  z-index: 5;
  height: auto;
  background: #fff;
  overflow: visible;
  #block-search-form {
    float: right;
  }
    ul.menu {
      width: auto;
      line-height: 1;
      text-align: left;
      li.leaf,
      li.expanded {
      width: auto;
      position: relative;
      a {
        padding: 1em 0;
        width: 7em;//
        text-align: center;//
        margin-right: -4px;
        //font-weight: bold;
        float: left;
        border-left: 1px solid $hcolor;
        border-right: 1px solid $hcolor;//
        //border-radius: 5px;
        //background: lighten($hcolor, 20%);
        // needs latest Compass, add '@import "compass"' to your scss
        background-color: $hcolor; // Old browsers
        @include filter-gradient(lighten($hcolor,20%), darken($hcolor,20%), vertical); // IE6-8
        // IE9 SVG, needs conditional override of 'filter' to 'none'
        $experimental-support-for-svg: true;
        @include background-image(linear-gradient(top,  lighten($hcolor,20%) 0%,#ffcf33 40%, #ffcf33 60%, darken($hcolor,20%) 100%));
        color: #000;
        &:hover, &:focus {
          outline: none;
          //background: $hcolor;
          background-color: $hcolor; // Old browsers
        @include filter-gradient(lighten($hcolor,30%), darken($hcolor,10%), vertical); // IE6-8
        // IE9 SVG, needs conditional override of 'filter' to 'none'
        $experimental-support-for-svg: true;
        @include background-image(linear-gradient(top,  lighten($hcolor,30%) 0%,#ffcf33 40%, #ffcf33 60%, darken($hcolor,10%) 100%));
          }
        }
      }
      li.expanded:after {
        content: '\25bc';
        font-size: 0.5em;
        position: absolute;
        top: 70%;
        left: 50%;
        margin-left: -0.5em;
        }      
      li.expanded:hover > ul.menu {
          display: block;
          opacity: 1;
          -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.5);
          box-shadow: 0 5px 10px rgba(0,0,0,0.5);
          -webkit-transition: opacity 0.5s 0.8s ease;
          -moz-transition: opacity 0.5s 0.8s ease;
          -ms-transition: opacity 0.5s 0.8s ease;
          -o-transition: opacity 0.5s 0.8s ease;
          transition: opacity 0.5s 0.8s ease;
          top: 3em;
          z-index: 500;
          li.leaf,
          li.expanded {
            margin: 0 0 -2px 0;
            padding: 0;
            a {
              width: 7em;
            }
            &:hover > ul {
             left: 7em;
             position: absolute;
             top: 0;
            }
          }
          li.expanded:after {
            content: '\25ba';
            font-size: 0.5em;
            position: absolute;
            top: 70%;
            left: 50%;
            margin-left: -0.5em;
        }        
      }  
    }
  }
}
// desktop screens
@media only screen and (min-width: 768px) {
  #site-slogan {
      top: 1em;
  }
  #main-content {
    position: relative;
    overflow: hidden;
  }
  #content{
    float: left;
    position: relative;
    &.right-sidebar {
      width: 75%;
      padding-right: 0.5em;
    }
    &.left-sidebar {
      width: 75%;
      left: 25%;
      padding-left: 0.5em;
    }
    &.two-sidebar {
      width: 50%;
      left: 25%;
      padding: 0 0.5em;
    }
  }
  #sidebar_left {
    float: left;
    padding-right: 0.5em;
    position: relative;
    width: 25%;
    &.left-sidebar {
      left: -75%;
    }
    &.two-sidebar {
      left: -50%;
    }
  }
  #sidebar_right {
    float: left;
    padding-left: 0.5em;
    position: relative;
    width: 25%;
  }
  .copyright {
    float: left;
    width: 66.67%;
  }
  #footer-links {
    float: left;
    width: 33.33%;
  }
}