/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 31, ../sass/screen.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 36, ../sass/screen.scss */
body {
  -webkit-animation: bugfix infinite 1s;
  *zoom: 1;
  background: #555555;
  font-family: "PT Sans", Verdana, Arial, san-serif;
  font-weight: 300;
  font-size: 100%;
  line-height: 1.25em;
  color: #666666;
}

@-webkit-keyframes bugfix {
  /* line 47, ../sass/screen.scss */
  from {
    padding: 0;
  }

  /* line 48, ../sass/screen.scss */
  to {
    padding: 0;
  }
}

/* line 50, ../sass/screen.scss */
p {
  margin: 0.5em 0;
  text-align: justify;
}

/* line 54, ../sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "PT Serif", Georgia, Times, serif;
  color: #ffcf33;
  padding-bottom: 0.5em;
  line-height: 1.5em;
}

/* line 60, ../sass/screen.scss */
h1 {
  font-size: 2em;
}

/* line 61, ../sass/screen.scss */
h2 {
  font-size: 1.5em;
}

/* line 62, ../sass/screen.scss */
h3 {
  font-size: 1.25em;
}

/* line 63, ../sass/screen.scss */
h4 {
  font-size: 1em;
}

/* line 64, ../sass/screen.scss */
strong {
  font-weight: bold;
}

/* line 65, ../sass/screen.scss */
em {
  font-style: italic;
}

/* line 68, ../sass/screen.scss */
ul.menu {
  margin: 0;
  padding: 0;
}
/* line 72, ../sass/screen.scss */
ul.menu li.leaf,
ul.menu li.expanded {
  list-style: none;
  display: inline;
}
/* line 75, ../sass/screen.scss */
ul.menu li.leaf a,
ul.menu li.expanded a {
  display: inline-block;
  padding: 1em;
}
/* line 78, ../sass/screen.scss */
ul.menu li.leaf a.active-trail,
ul.menu li.expanded a.active-trail {
  color: #000;
}

/* line 87, ../sass/screen.scss */
a {
  color: #5090f0;
  text-decoration: none;
}
/* line 90, ../sass/screen.scss */
a:hover, a:focus {
  color: #aeccf8;
  outline: thin dotted;
}

/* line 95, ../sass/screen.scss */
.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

/* line 100, ../sass/screen.scss */
#page {
  background: white;
  padding: 0.5em;
  -webkit-box-shadow: 0 0 10px #000000;
  -moz-box-shadow: 0 0 10px #000000;
  box-shadow: 0 0 10px #000000;
}

/* line 108, ../sass/screen.scss */
header {
  display: inline-block;
  width: 100%;
}
/* line 111, ../sass/screen.scss */
header:after {
  display: block;
  clear: both;
  content: ' ';
  visibility: hidden;
  height: 0;
}

/* line 120, ../sass/screen.scss */
#main-content,
footer {
  width: 100%;
  overflow: hidden;
}

/* line 126, ../sass/screen.scss */
.user p, .user a,
footer p,
footer a {
  color: #333333;
}
/* line 129, ../sass/screen.scss */
.user a:hover,
.user a:focus,
footer a:hover,
footer a:focus {
  color: #999999;
}

/* line 133, ../sass/screen.scss */
#logo {
  float: left;
  max-width: 80%;
}

/* line 137, ../sass/screen.scss */
#site-slogan {
  float: right;
  text-align: right;
  position: relative;
}

/* line 142, ../sass/screen.scss */
.breadcrumb {
  overflow: hidden;
  padding: 0;
}
/* line 145, ../sass/screen.scss */
.breadcrumb a {
  font-size: 80%;
  outline: none;
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: #000;
  padding: 0.5em 0 0.5em 3em;
}
/* line 153, ../sass/screen.scss */
.breadcrumb a:before {
  content: ' ';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border-top: 3em solid transparent;
  border-bottom: 3em solid transparent;
  left: 100%;
  top: 50%;
  margin-top: -3em;
  border-left: 3em solid white;
  z-index: 1;
  margin-left: 2px;
}
/* line 160, ../sass/screen.scss */
.breadcrumb a:nth-of-type(1) {
  background: #71a5f3;
}
/* line 162, ../sass/screen.scss */
.breadcrumb a:nth-of-type(1):hover {
  background: #5090f0;
}
/* line 164, ../sass/screen.scss */
.breadcrumb a:nth-of-type(1):after {
  content: ' ';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border-top: 3em solid transparent;
  border-bottom: 3em solid transparent;
  left: 100%;
  top: 50%;
  margin-top: -3em;
  border-left: 3em solid #71a5f3;
  z-index: 2;
}
/* line 168, ../sass/screen.scss */
.breadcrumb a:nth-of-type(1):hover:after {
  content: ' ';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border-top: 3em solid transparent;
  border-bottom: 3em solid transparent;
  left: 100%;
  top: 50%;
  margin-top: -3em;
  border-left: 3em solid #5090f0;
  z-index: 2;
}
/* line 160, ../sass/screen.scss */
.breadcrumb a:nth-of-type(2) {
  background: #92baf6;
}
/* line 162, ../sass/screen.scss */
.breadcrumb a:nth-of-type(2):hover {
  background: #5090f0;
}
/* line 164, ../sass/screen.scss */
.breadcrumb a:nth-of-type(2):after {
  content: ' ';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border-top: 3em solid transparent;
  border-bottom: 3em solid transparent;
  left: 100%;
  top: 50%;
  margin-top: -3em;
  border-left: 3em solid #92baf6;
  z-index: 2;
}
/* line 168, ../sass/screen.scss */
.breadcrumb a:nth-of-type(2):hover:after {
  content: ' ';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border-top: 3em solid transparent;
  border-bottom: 3em solid transparent;
  left: 100%;
  top: 50%;
  margin-top: -3em;
  border-left: 3em solid #5090f0;
  z-index: 2;
}
/* line 160, ../sass/screen.scss */
.breadcrumb a:nth-of-type(3) {
  background: #b3cff8;
}
/* line 162, ../sass/screen.scss */
.breadcrumb a:nth-of-type(3):hover {
  background: #5090f0;
}
/* line 164, ../sass/screen.scss */
.breadcrumb a:nth-of-type(3):after {
  content: ' ';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border-top: 3em solid transparent;
  border-bottom: 3em solid transparent;
  left: 100%;
  top: 50%;
  margin-top: -3em;
  border-left: 3em solid #b3cff8;
  z-index: 2;
}
/* line 168, ../sass/screen.scss */
.breadcrumb a:nth-of-type(3):hover:after {
  content: ' ';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border-top: 3em solid transparent;
  border-bottom: 3em solid transparent;
  left: 100%;
  top: 50%;
  margin-top: -3em;
  border-left: 3em solid #5090f0;
  z-index: 2;
}
/* line 160, ../sass/screen.scss */
.breadcrumb a:nth-of-type(4) {
  background: #d4e3fb;
}
/* line 162, ../sass/screen.scss */
.breadcrumb a:nth-of-type(4):hover {
  background: #5090f0;
}
/* line 164, ../sass/screen.scss */
.breadcrumb a:nth-of-type(4):after {
  content: ' ';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border-top: 3em solid transparent;
  border-bottom: 3em solid transparent;
  left: 100%;
  top: 50%;
  margin-top: -3em;
  border-left: 3em solid #d4e3fb;
  z-index: 2;
}
/* line 168, ../sass/screen.scss */
.breadcrumb a:nth-of-type(4):hover:after {
  content: ' ';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border-top: 3em solid transparent;
  border-bottom: 3em solid transparent;
  left: 100%;
  top: 50%;
  margin-top: -3em;
  border-left: 3em solid #5090f0;
  z-index: 2;
}
/* line 173, ../sass/screen.scss */
.breadcrumb a:first-child {
  padding-left: 1em;
}

/* line 178, ../sass/screen.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 182, ../sass/screen.scss */
div.messages {
  margin: 0;
  clear: both;
}

/* line 186, ../sass/screen.scss */
.submitted {
  overflow: hidden;
}
/* line 188, ../sass/screen.scss */
.submitted .user-picture img {
  float: left;
  height: 2em;
  margin-right: 0.25em 0.5em 0 0;
}

/* line 195, ../sass/screen.scss */
.field-name-field-staff-image {
  float: left;
  height: auto;
  margin: 0 0.5em 0.5em 0;
  max-width: 35%;
}

/* line 201, ../sass/screen.scss */
.field-name-field-gdc-reg-no .field-item:before {
  content: "GDC Registration No:";
  display: inline-block;
  font-weight: bold;
  width: 11em;
}

/* line 207, ../sass/screen.scss */
.field-name-field-qualifications .field-item:before {
  display: inline-block;
  font-weight: bold;
  width: 11em;
  content: "Qualification:";
}

/* line 213, ../sass/screen.scss */
.field-name-field-role .field-item {
  display: inline-block;
}
/* line 215, ../sass/screen.scss */
.field-name-field-role .field-item:first-of-type:before {
  display: inline-block;
  font-weight: bold;
  width: 11em;
  content: "Practice Role(s):";
}
/* line 221, ../sass/screen.scss */
.field-name-field-role .field-item:after {
  content: "|";
  display: inline-block;
  padding: 0 0.5em;
}
/* line 226, ../sass/screen.scss */
.field-name-field-role .field-item:last-of-type:after {
  content: "";
}

/* line 230, ../sass/screen.scss */
.node-teaser {
  overflow: hidden;
}

/* line 235, ../sass/screen.scss */
.field-name-field-image,
.views-field-field-image {
  max-width: 30%;
  height: auto;
  float: left;
  padding: 0 0.5em 0.5em 0;
}

/* line 241, ../sass/screen.scss */
span.author img {
  float: left;
  height: 1em;
}

/* line 245, ../sass/screen.scss */
.views-row {
  clear: both;
  overflow: hidden;
}

/* line 249, ../sass/screen.scss */
ul.team-member {
  text-align: center;
}
/* line 251, ../sass/screen.scss */
ul.team-member li.staffpage {
  display: inline-block;
  width: 18em;
}
/* line 254, ../sass/screen.scss */
ul.team-member li.staffpage p {
  text-align: center;
}

/* line 259, ../sass/screen.scss */
input#menu {
  visibility: hidden;
  position: absolute;
}

/* line 264, ../sass/screen.scss */
.gmap {
  width: 100%;
  height: 0;
  padding-top: 30px;
  padding-bottom: 56.25%;
  position: relative;
  overflow: hidden;
}
/* line 271, ../sass/screen.scss */
.gmap iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media only screen {
  /* line 286, ../sass/screen.scss */
  #container,
  #content,
  #sidebar_left,
  #sidebar_right,
  .copyright,
  #footer-links {
    width: 100%;
  }

  /* line 290, ../sass/screen.scss */
  #site-slogan,
  .user {
    display: none;
  }

  /* line 293, ../sass/screen.scss */
  label[for="menu"]:after {
    content: "\2261";
    font-size: 48px;
    font-weight: bold;
    position: absolute;
    top: 30px;
    right: 10px;
  }

  /* line 301, ../sass/screen.scss */
  input#menu:checked ~ nav {
    height: auto;
    -webkit-transition: height 0.5s ease 0;
    -moz-transition: height 0.5s ease 0;
    -ms-transition: height 0.5s ease 0;
    -o-transition: height 0.5s ease 0;
    transition: height 0.5s ease 0;
  }

  /* line 309, ../sass/screen.scss */
  nav {
    height: 0;
    overflow: hidden;
    background: #333;
    clear: both;
    -webkit-transition: height 0.5s ease 0;
    -moz-transition: height 0.5s ease 0;
    -ms-transition: height 0.5s ease 0;
    -o-transition: height 0.5s ease 0;
    transition: height 0.5s ease 0;
  }
  /* line 319, ../sass/screen.scss */
  nav ul.menu {
    width: 100%;
    text-align: center;
  }
  /* line 323, ../sass/screen.scss */
  nav ul.menu li.leaf,
  nav ul.menu li.expanded {
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 9em;
  }
  /* line 328, ../sass/screen.scss */
  nav ul.menu li.leaf a,
  nav ul.menu li.expanded a {
    width: 100%;
    color: #ccc;
  }
  /* line 332, ../sass/screen.scss */
  nav ul.menu li.leaf a:hover, nav ul.menu li.leaf a:focus,
  nav ul.menu li.expanded a:hover,
  nav ul.menu li.expanded a:focus {
    background: #555;
    outline: none;
  }
  /* line 338, ../sass/screen.scss */
  nav ul.menu li.expanded > ul {
    display: none;
  }
  /* line 343, ../sass/screen.scss */
  nav #block-search-form {
    clear: both;
    text-align: center;
    padding: 0.5em;
  }
}
@media only screen and (min-width: 720px) {
  /* line 354, ../sass/screen.scss */
  #site-slogan,
  #user {
    display: block;
  }

  /* line 357, ../sass/screen.scss */
  #content {
    width: 100%;
    clear: both;
  }

  /* line 363, ../sass/screen.scss */
  ul.menu li.leaf,
  ul.menu li.expanded {
    padding: 0;
    margin: 0;
  }
  /* line 366, ../sass/screen.scss */
  ul.menu li.leaf a,
  ul.menu li.expanded a {
    padding: 1em;
  }
  /* line 369, ../sass/screen.scss */
  ul.menu li.leaf > ul,
  ul.menu li.expanded > ul {
    position: absolute;
    opacity: 0;
  }

  /* line 375, ../sass/screen.scss */
  label[for="menu"]:after {
    content: "";
  }

  /* line 378, ../sass/screen.scss */
  nav {
    height: 4em;
    background: #fff;
    overflow: visible;
  }
  /* line 382, ../sass/screen.scss */
  nav #block-search-form {
    clear: none;
    float: right;
  }
  /* line 386, ../sass/screen.scss */
  nav ul.menu {
    line-height: 1;
    text-align: left;
  }
  /* line 390, ../sass/screen.scss */
  nav ul.menu li.leaf,
  nav ul.menu li.expanded {
    width: auto;
    position: relative;
    margin-right: 2px;
  }
  /* line 394, ../sass/screen.scss */
  nav ul.menu li.leaf a,
  nav ul.menu li.expanded a {
    padding: 1em;
    font-weight: bold;
    float: left;
    border: 2px solid #ffcf33;
    border-radius: 5px;
    background: #ffe799;
    color: #000;
  }
  /* line 402, ../sass/screen.scss */
  nav ul.menu li.leaf a:hover, nav ul.menu li.leaf a:focus,
  nav ul.menu li.expanded a:hover,
  nav ul.menu li.expanded a:focus {
    outline: none;
    background: #ffcf33;
  }
  /* line 408, ../sass/screen.scss */
  nav ul.menu li.expanded:after {
    content: '\25bc';
    font-size: 0.5em;
    position: absolute;
    top: 70%;
    left: 50%;
    margin-left: -0.5em;
  }
  /* line 416, ../sass/screen.scss */
  nav ul.menu li.expanded:hover > ul.menu {
    display: block;
    opacity: 1;
    -webkit-transition: opacity 0.5s 0.8s ease;
    -moz-transition: opacity 0.5s 0.8s ease;
    -ms-transition: opacity 0.5s 0.8s ease;
    -o-transition: opacity 0.5s 0.8s ease;
    transition: opacity 0.5s 0.8s ease;
    top: 3em;
    z-index: 500;
  }
  /* line 427, ../sass/screen.scss */
  nav ul.menu li.expanded:hover > ul.menu li.leaf,
  nav ul.menu li.expanded:hover > ul.menu li.expanded {
    padding: 0;
  }
  /* line 429, ../sass/screen.scss */
  nav ul.menu li.expanded:hover > ul.menu li.leaf a,
  nav ul.menu li.expanded:hover > ul.menu li.expanded a {
    width: 8em;
  }
  /* line 432, ../sass/screen.scss */
  nav ul.menu li.expanded:hover > ul.menu li.leaf:hover > ul,
  nav ul.menu li.expanded:hover > ul.menu li.expanded:hover > ul {
    left: 8em;
    position: absolute;
    top: 0;
  }
  /* line 438, ../sass/screen.scss */
  nav ul.menu li.expanded:hover > ul.menu li.expanded:after {
    content: '\25ba';
    font-size: 0.5em;
    position: absolute;
    top: 70%;
    left: 50%;
    margin-left: -0.5em;
  }
}
@media only screen and (min-width: 768px) {
  /* line 453, ../sass/screen.scss */
  #site-slogan {
    top: 1em;
  }

  /* line 456, ../sass/screen.scss */
  #main-content {
    position: relative;
    overflow: hidden;
  }

  /* line 460, ../sass/screen.scss */
  #content {
    float: left;
    position: relative;
  }
  /* line 463, ../sass/screen.scss */
  #content.right-sidebar {
    width: 75%;
    padding-right: 0.5em;
  }
  /* line 467, ../sass/screen.scss */
  #content.left-sidebar {
    width: 75%;
    left: 25%;
    padding-left: 0.5em;
  }
  /* line 472, ../sass/screen.scss */
  #content.two-sidebar {
    width: 50%;
    left: 25%;
    padding: 0 0.5em;
  }

  /* line 478, ../sass/screen.scss */
  #sidebar_left {
    float: left;
    padding-right: 0.5em;
    position: relative;
    width: 25%;
  }
  /* line 483, ../sass/screen.scss */
  #sidebar_left.left-sidebar {
    left: -75%;
  }
  /* line 486, ../sass/screen.scss */
  #sidebar_left.two-sidebar {
    left: -50%;
  }

  /* line 490, ../sass/screen.scss */
  #sidebar_right {
    float: left;
    padding-left: 0.5em;
    position: relative;
    width: 25%;
  }

  /* line 496, ../sass/screen.scss */
  .copyright {
    float: left;
    width: 66.67%;
  }

  /* line 500, ../sass/screen.scss */
  #footer-links {
    float: left;
    width: 33.33%;
  }
}
