/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 35, ../sass/screen.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 40, ../sass/screen.scss */
body {
  -webkit-animation: bugfix infinite 1s;
  *zoom: 1;
  background: #333333;
  font-family: "PT Sans", Verdana, Arial, san-serif;
  font-weight: 300;
  font-size: 100%;
  line-height: 1.25em;
  color: #666666;
}

@-webkit-keyframes bugfix {
  /* line 51, ../sass/screen.scss */
  from {
    padding: 0;
  }

  /* line 52, ../sass/screen.scss */
  to {
    padding: 0;
  }
}

/* line 54, ../sass/screen.scss */
p {
  margin: 0.5em 0;
  text-align: justify;
}

/* line 58, ../sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "PT Serif", Georgia, Times, serif;
  color: #ffcf33;
  padding-bottom: 0.5em;
  line-height: 1.5em;
}

/* line 64, ../sass/screen.scss */
h1 {
  font-size: 2em;
}

/* line 65, ../sass/screen.scss */
h2 {
  font-size: 1.5em;
}

/* line 66, ../sass/screen.scss */
h3 {
  font-size: 1.25em;
}

/* line 67, ../sass/screen.scss */
h4 {
  font-size: 1em;
}

/* line 70, ../sass/screen.scss */
a {
  color: #5090f0;
  text-decoration: none;
}
/* line 73, ../sass/screen.scss */
a:hover, a:focus {
  color: #aeccf8;
  outline: thin dotted;
}

/* line 78, ../sass/screen.scss */
#main-content {
  width: 100%;
  background: white;
}

/* line 84, ../sass/screen.scss */
#content,
#sidebar_left,
#sidebar_right {
  background: white;
  padding: 0 0.5em;
}

/* line 89, ../sass/screen.scss */
#header,
#nav {
  overflow: hidden;
  background: white;
  padding: 0 0.5em;
}

/* line 95, ../sass/screen.scss */
#user,
#footer {
  padding: 0 0.5em;
}
/* line 97, ../sass/screen.scss */
#user a,
#footer a {
  color: #666666;
}
/* line 100, ../sass/screen.scss */
#user a:hover, #user a:focus,
#footer a:hover,
#footer a:focus {
  color: #999999;
}

/* line 105, ../sass/screen.scss */
#logo {
  float: left;
  max-width: 80%;
}

/* line 109, ../sass/screen.scss */
#site-slogan {
  float: right;
  text-align: right;
  position: relative;
}

/* line 114, ../sass/screen.scss */
#breadcrumb {
  padding: 0.5em;
  background: white;
}

/* line 118, ../sass/screen.scss */
.breadcrumb {
  overflow: hidden;
  padding: 0;
}
/* line 121, ../sass/screen.scss */
.breadcrumb a {
  font-size: 80%;
  outline: none;
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: #000;
  padding: 0.5em 0 0.5em 3em;
}
/* line 129, ../sass/screen.scss */
.breadcrumb a:before {
  content: ' ';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border-top: 3em solid transparent;
  border-bottom: 3em solid transparent;
  left: 100%;
  top: 50%;
  margin-top: -3em;
  border-left: 3em solid white;
  z-index: 1;
  margin-left: 2px;
}
/* line 136, ../sass/screen.scss */
.breadcrumb a:nth-of-type(1) {
  background: #71a5f3;
}
/* line 138, ../sass/screen.scss */
.breadcrumb a:nth-of-type(1):hover {
  background: #5090f0;
}
/* line 140, ../sass/screen.scss */
.breadcrumb a:nth-of-type(1):after {
  content: ' ';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border-top: 3em solid transparent;
  border-bottom: 3em solid transparent;
  left: 100%;
  top: 50%;
  margin-top: -3em;
  border-left: 3em solid #71a5f3;
  z-index: 2;
}
/* line 144, ../sass/screen.scss */
.breadcrumb a:nth-of-type(1):hover:after {
  content: ' ';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border-top: 3em solid transparent;
  border-bottom: 3em solid transparent;
  left: 100%;
  top: 50%;
  margin-top: -3em;
  border-left: 3em solid #5090f0;
  z-index: 2;
}
/* line 136, ../sass/screen.scss */
.breadcrumb a:nth-of-type(2) {
  background: #92baf6;
}
/* line 138, ../sass/screen.scss */
.breadcrumb a:nth-of-type(2):hover {
  background: #5090f0;
}
/* line 140, ../sass/screen.scss */
.breadcrumb a:nth-of-type(2):after {
  content: ' ';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border-top: 3em solid transparent;
  border-bottom: 3em solid transparent;
  left: 100%;
  top: 50%;
  margin-top: -3em;
  border-left: 3em solid #92baf6;
  z-index: 2;
}
/* line 144, ../sass/screen.scss */
.breadcrumb a:nth-of-type(2):hover:after {
  content: ' ';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border-top: 3em solid transparent;
  border-bottom: 3em solid transparent;
  left: 100%;
  top: 50%;
  margin-top: -3em;
  border-left: 3em solid #5090f0;
  z-index: 2;
}
/* line 136, ../sass/screen.scss */
.breadcrumb a:nth-of-type(3) {
  background: #b3cff8;
}
/* line 138, ../sass/screen.scss */
.breadcrumb a:nth-of-type(3):hover {
  background: #5090f0;
}
/* line 140, ../sass/screen.scss */
.breadcrumb a:nth-of-type(3):after {
  content: ' ';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border-top: 3em solid transparent;
  border-bottom: 3em solid transparent;
  left: 100%;
  top: 50%;
  margin-top: -3em;
  border-left: 3em solid #b3cff8;
  z-index: 2;
}
/* line 144, ../sass/screen.scss */
.breadcrumb a:nth-of-type(3):hover:after {
  content: ' ';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border-top: 3em solid transparent;
  border-bottom: 3em solid transparent;
  left: 100%;
  top: 50%;
  margin-top: -3em;
  border-left: 3em solid #5090f0;
  z-index: 2;
}
/* line 136, ../sass/screen.scss */
.breadcrumb a:nth-of-type(4) {
  background: #d4e3fb;
}
/* line 138, ../sass/screen.scss */
.breadcrumb a:nth-of-type(4):hover {
  background: #5090f0;
}
/* line 140, ../sass/screen.scss */
.breadcrumb a:nth-of-type(4):after {
  content: ' ';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border-top: 3em solid transparent;
  border-bottom: 3em solid transparent;
  left: 100%;
  top: 50%;
  margin-top: -3em;
  border-left: 3em solid #d4e3fb;
  z-index: 2;
}
/* line 144, ../sass/screen.scss */
.breadcrumb a:nth-of-type(4):hover:after {
  content: ' ';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border-top: 3em solid transparent;
  border-bottom: 3em solid transparent;
  left: 100%;
  top: 50%;
  margin-top: -3em;
  border-left: 3em solid #5090f0;
  z-index: 2;
}
/* line 149, ../sass/screen.scss */
.breadcrumb a:first-child {
  padding-left: 1em;
}

/* line 154, ../sass/screen.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 158, ../sass/screen.scss */
div.messages {
  margin: 0;
}

/* line 161, ../sass/screen.scss */
.submitted .user-picture img {
  float: left;
  height: 2em;
  margin-right: 0.25em 0.5em 0 0;
}

/* line 166, ../sass/screen.scss */
.field-content > img {
  float: left;
  height: auto;
  margin: 0 0.5em 0.5em 0;
  max-width: 35%;
}

/* line 172, ../sass/screen.scss */
span.author img {
  float: left;
  height: 1em;
}

/* line 176, ../sass/screen.scss */
.views-row {
  clear: both;
  overflow: hidden;
}

/* line 181, ../sass/screen.scss */
ul.menu li {
  margin: 0;
  padding: 1em;
  list-style: none;
  display: inline-block;
}

/* line 187, ../sass/screen.scss */
ul.team-member {
  text-align: center;
}
/* line 189, ../sass/screen.scss */
ul.team-member li.staffpage {
  display: inline-block;
  width: 20em;
}
/* line 192, ../sass/screen.scss */
ul.team-member li.staffpage p {
  text-align: center;
}

/* line 197, ../sass/screen.scss */
#block-search-form {
  float: right;
  padding: 0.5em;
}

/* line 201, ../sass/screen.scss */
input#menu {
  visibility: hidden;
  position: absolute;
}

@media only screen and (max-width: 480px) {
  /* line 212, ../sass/screen.scss */
  #container,
  #content,
  #sidebar_left,
  #sidebar_left,
  #copy,
  #footer-links {
    width: 100%;
  }

  /* line 216, ../sass/screen.scss */
  #site-slogan,
  #user {
    display: none;
  }

  /* line 219, ../sass/screen.scss */
  label[for="menu"]:after {
    content: "\2261";
    font-size: 48px;
    font-weight: bold;
    position: absolute;
    top: 30px;
    right: 10px;
  }
}
/* line 228, ../sass/screen.scss */
#nav {
  max-height: 0;
  background: #333;
  -webkit-transition: height 0.5s linear;
  -moz-transition: height 0.5s linear;
  -ms-transition: height 0.5s linear;
  -o-transition: height 0.5s linear;
  transition: height 0.5s linear;
}
/* line 237, ../sass/screen.scss */
#nav ul.menu li.leaf {
  display: block;
  float: left;
  width: 50%;
}
/* line 241, ../sass/screen.scss */
#nav ul.menu li.leaf a {
  color: #fff;
}

/* line 248, ../sass/screen.scss */
input#menu:checked ~ div#nav {
  max-height: 100%;
  -webkit-transition: height 0.5s linear;
  -moz-transition: height 0.5s linear;
  -ms-transition: height 0.5s linear;
  -o-transition: height 0.5s linear;
  transition: height 0.5s linear;
}

@media only screen and (min-width: 481px) {
  /* line 260, ../sass/screen.scss */
  #site-slogan,
  #user {
    display: block;
  }

  /* line 263, ../sass/screen.scss */
  #content {
    width: 100%;
    clear: both;
  }

  /* line 268, ../sass/screen.scss */
  ul.menu li.leaf {
    margin: 0;
    padding: 1em;
    list-style: none;
    display: inline-block;
  }

  /* line 272, ../sass/screen.scss */
  #nav {
    background: white;
    max-height: 3.5em;
  }
  /* line 275, ../sass/screen.scss */
  #nav ul.menu li.leaf {
    margin: 0;
    padding: 1em;
    list-style: none;
    display: inline-block;
    float: none;
    width: auto;
    border: 2px solid #ffcf33;
    border-radius: 5px;
    background: #ffe799;
  }
  /* line 282, ../sass/screen.scss */
  #nav ul.menu li.leaf a {
    color: #000;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1440px) {
  /* line 291, ../sass/screen.scss */
  #container {
    width: 80%;
    margin: 0 auto;
  }

  /* line 295, ../sass/screen.scss */
  #site-slogan {
    top: 1em;
  }

  /* line 298, ../sass/screen.scss */
  #main-content {
    position: relative;
    overflow: hidden;
  }

  /* line 302, ../sass/screen.scss */
  #content {
    float: left;
    position: relative;
  }
  /* line 305, ../sass/screen.scss */
  #content.right-sidebar {
    width: 75%;
  }
  /* line 308, ../sass/screen.scss */
  #content.left-sidebar {
    width: 75%;
    left: 25%;
  }
  /* line 312, ../sass/screen.scss */
  #content.two-sidebar {
    width: 50%;
    left: 25%;
  }

  /* line 317, ../sass/screen.scss */
  #sidebar_left {
    float: left;
    position: relative;
    width: 25%;
  }
  /* line 321, ../sass/screen.scss */
  #sidebar_left.left-sidebar {
    left: -75%;
  }
  /* line 324, ../sass/screen.scss */
  #sidebar_left.two-sidebar {
    left: -50%;
  }

  /* line 328, ../sass/screen.scss */
  #sidebar_right {
    float: left;
    position: relative;
    width: 25%;
  }

  /* line 333, ../sass/screen.scss */
  #copy {
    float: left;
    width: 66.67%;
  }

  /* line 337, ../sass/screen.scss */
  #footer-links {
    float: left;
    width: 33.33%;
  }

  /* line 341, ../sass/screen.scss */
  #block-search-form {
    position: relative;
    top: -3em;
  }
}
