/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 22, ../sass/screen.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 27, ../sass/screen.scss */
body {
  -webkit-animation: bugfix infinite 1s;
  *zoom: 1;
  background: #333333;
  font-family: "PT Sans", Verdana, Arial, san-serif;
  font-weight: 300;
  font-size: 100%;
  line-height: 1.25em;
  color: #666666;
}

@-webkit-keyframes bugfix {
  /* line 38, ../sass/screen.scss */
  from {
    padding: 0;
  }

  /* line 39, ../sass/screen.scss */
  to {
    padding: 0;
  }
}

/* line 41, ../sass/screen.scss */
p {
  margin: 0.5em 0;
  text-align: justify;
}

/* line 45, ../sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "PT Serif", Georgia, Times, serif;
  color: #ffcf33;
  padding-bottom: 0.5em;
  line-height: 1.5em;
}

/* line 51, ../sass/screen.scss */
h1 {
  font-size: 2em;
}

/* line 52, ../sass/screen.scss */
h2 {
  font-size: 1.5em;
}

/* line 53, ../sass/screen.scss */
h3 {
  font-size: 1.25em;
}

/* line 54, ../sass/screen.scss */
h4 {
  font-size: 1em;
}

/* line 57, ../sass/screen.scss */
a {
  color: #666666;
  text-decoration: none;
}
/* line 60, ../sass/screen.scss */
a:hover, a:focus {
  outline: thin dotted;
}

/* line 64, ../sass/screen.scss */
#main-content {
  width: 100%;
  background: white;
}

/* line 70, ../sass/screen.scss */
#content,
#sidebar_left,
#sidebar_right {
  background: white;
  padding: 0 0.5em;
}

/* line 75, ../sass/screen.scss */
#header,
#nav {
  overflow: hidden;
  *zoom: 1;
  background: white;
  padding: 0 0.5em;
}

/* line 80, ../sass/screen.scss */
#footer {
  padding: 0 0.5em;
}

/* line 83, ../sass/screen.scss */
#logo {
  float: left;
  max-width: 80%;
}

/* line 87, ../sass/screen.scss */
#site-slogan {
  float: right;
  text-align: right;
  position: relative;
}

/* line 92, ../sass/screen.scss */
#breadcrumb {
  display: none;
}

/* line 95, ../sass/screen.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 99, ../sass/screen.scss */
div.messages {
  margin: 0;
}

/* line 102, ../sass/screen.scss */
.submitted .user-picture img {
  float: left;
  height: 2em;
  margin-right: 0.25em 0.5em 0 0;
}

/* line 107, ../sass/screen.scss */
.field-content > img {
  float: left;
  height: auto;
  margin: 0 0.5em 0.5em 0;
  max-width: 35%;
}

/* line 113, ../sass/screen.scss */
span.author img {
  float: left;
  height: 1em;
}

/* line 117, ../sass/screen.scss */
.views-row {
  clear: both;
  overflow: hidden;
}

/* line 122, ../sass/screen.scss */
ul.menu li {
  margin: 0;
  padding: 1em;
  list-style: none;
  display: inline-block;
}

/* line 128, ../sass/screen.scss */
ul.team-member {
  text-align: center;
}
/* line 130, ../sass/screen.scss */
ul.team-member li.staffpage {
  display: inline-block;
  width: 20em;
}
/* line 133, ../sass/screen.scss */
ul.team-member li.staffpage p {
  text-align: center;
}

/* line 138, ../sass/screen.scss */
#block-search-form {
  float: right;
  padding: 0.5em;
}

/* line 142, ../sass/screen.scss */
input#menu {
  visibility: hidden;
  position: absolute;
}

@media only screen and (max-width: 480px) {
  /* line 153, ../sass/screen.scss */
  #container,
  #content,
  #sidebar_left,
  #sidebar_left,
  #copy,
  #footer-links {
    width: 100%;
  }

  /* line 157, ../sass/screen.scss */
  #site-slogan,
  #user {
    display: none;
  }

  /* line 160, ../sass/screen.scss */
  label[for="menu"]:after {
    content: "\2261";
    font-size: 48px;
    font-weight: bold;
    position: absolute;
    top: 30px;
    right: 10px;
  }
}
/* line 169, ../sass/screen.scss */
#nav {
  max-height: 0;
  background: #333;
  -webkit-transition: height 0.5s linear;
  -moz-transition: height 0.5s linear;
  -ms-transition: height 0.5s linear;
  -o-transition: height 0.5s linear;
  transition: height 0.5s linear;
}
/* line 178, ../sass/screen.scss */
#nav ul.menu li.leaf {
  display: block;
  float: left;
  width: 50%;
}
/* line 182, ../sass/screen.scss */
#nav ul.menu li.leaf a {
  color: #fff;
}

/* line 189, ../sass/screen.scss */
input#menu:checked ~ div#nav {
  max-height: 100%;
  -webkit-transition: height 0.5s linear;
  -moz-transition: height 0.5s linear;
  -ms-transition: height 0.5s linear;
  -o-transition: height 0.5s linear;
  transition: height 0.5s linear;
}

@media only screen and (min-width: 481px) {
  /* line 201, ../sass/screen.scss */
  #site-slogan,
  #user {
    display: block;
  }

  /* line 204, ../sass/screen.scss */
  #content {
    width: 100%;
    clear: both;
  }

  /* line 209, ../sass/screen.scss */
  ul.menu li.leaf {
    margin: 0;
    padding: 1em;
    list-style: none;
    display: inline-block;
  }

  /* line 213, ../sass/screen.scss */
  #nav {
    background: white;
  }
  /* line 215, ../sass/screen.scss */
  #nav ul.menu li.leaf {
    margin: 0;
    padding: 1em;
    list-style: none;
    display: inline-block;
    float: none;
    width: auto;
    border: 2px solid #ffcf33;
    border-radius: 5px;
    background: #ffe799;
  }
  /* line 222, ../sass/screen.scss */
  #nav ul.menu li.leaf a {
    color: #000;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1440px) {
  /* line 231, ../sass/screen.scss */
  #container {
    width: 80%;
    margin: 0 auto;
  }

  /* line 235, ../sass/screen.scss */
  #site-slogan {
    top: 1em;
  }

  /* line 238, ../sass/screen.scss */
  #main-content {
    position: relative;
    overflow: hidden;
  }

  /* line 242, ../sass/screen.scss */
  #content {
    float: left;
    position: relative;
  }
  /* line 245, ../sass/screen.scss */
  #content.right-sidebar {
    width: 75%;
  }
  /* line 248, ../sass/screen.scss */
  #content.left-sidebar {
    width: 75%;
    left: 25%;
  }
  /* line 252, ../sass/screen.scss */
  #content.two-sidebar {
    width: 50%;
    left: 25%;
  }

  /* line 257, ../sass/screen.scss */
  #sidebar_left {
    float: left;
    position: relative;
    width: 25%;
  }
  /* line 261, ../sass/screen.scss */
  #sidebar_left.left-sidebar {
    left: -75%;
  }
  /* line 264, ../sass/screen.scss */
  #sidebar_left.two-sidebar {
    left: -50%;
  }

  /* line 268, ../sass/screen.scss */
  #sidebar_right {
    float: left;
    position: relative;
    width: 25%;
  }

  /* line 273, ../sass/screen.scss */
  #copy {
    float: left;
    width: 66.67%;
  }

  /* line 277, ../sass/screen.scss */
  #footer-links {
    float: left;
    width: 33.33%;
  }

  /* line 281, ../sass/screen.scss */
  #block-search-form {
    position: relative;
    top: -3em;
  }
}
